In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./boston.csv')

In [3]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [4]:
def normal(d):
    p=(d-d.mean())/d.std()
    return p

In [5]:
df['CRIM1']=normal(df['CRIM'])
df['ZN1']=normal(df['ZN'])
df['INDUS1']=normal(df['INDUS'])
df['CHAS1']=normal(df['CHAS'])
df['NOX1']=normal(df['NOX'])
df['RM1']=normal(df['RM'])
df['AGE1']=normal(df['AGE'])
df['DIS1']=normal(df['DIS'])
df['RAD1']=normal(df['RAD'])
df['TAX1']=normal(df['TAX'])
df['PTRATIO1']=normal(df['PTRATIO'])
df['B1']=normal(df['B'])
df['LSTAT1']=normal(df['LSTAT'])

In [6]:
df1 = df.drop(['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV'],axis=1)

In [7]:
df1.dtypes

CRIM1       float64
ZN1         float64
INDUS1      float64
CHAS1       float64
NOX1        float64
RM1         float64
AGE1        float64
DIS1        float64
RAD1        float64
TAX1        float64
PTRATIO1    float64
B1          float64
LSTAT1      float64
dtype: object

In [11]:
dm_m = df1#.drop(['ZN1'],axis=1)

In [12]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(dm_m, df.MEDV, test_size=0.4, random_state=140)

In [13]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [15]:
y_pred = lm.predict(x_test)

In [16]:
df1 = pd.DataFrame(x_train.columns,lm.coef_ )
print(df1.shape)
print(df1)

(13, 1)
                  0
-0.858903     CRIM1
 1.133071       ZN1
 0.411434    INDUS1
 0.607916     CHAS1
-2.497313      NOX1
 2.725975       RM1
-0.100271      AGE1
-3.365724      DIS1
 2.743416      RAD1
-2.274760      TAX1
-1.813769  PTRATIO1
 0.488669        B1
-3.684871    LSTAT1

In [17]:
lm.score(x_test,y_test)

0.7257523304928257

In [18]:
df2 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df2

     Actual  Predicted
79     20.3  22.818612
484    20.6  19.762023
394    12.7  17.859626
499    17.5  18.370507
27     14.8  15.122735
402    12.1  18.296477
492    20.1  16.182393
358    22.7  21.381285
189    34.9  34.268572
30     12.7  11.685562
73     23.4  24.722118
17     17.5  17.033478
111    22.8  26.357617
362    20.8  17.703238
34     13.5  14.437192
148    17.8   8.681548
242    22.2  23.944002
477    12.0  11.944781
372    50.0  25.907123
221    21.7  23.409057
348    24.5  27.222579
136    17.4  16.366024
433    14.3  17.985389
503    23.9  27.939869
60     18.7  17.797686
417    10.4   8.125783
420    16.7  19.707091
176    23.2  25.363380
347    23.1  25.067186
267    50.0  40.232944
..      ...        ...
203    48.5  42.083757
85     26.6  27.911329
371    50.0  25.199924
264    36.5  34.826610
419     8.4  15.994059
431    14.1  20.307775
210    21.7  22.254730
57     31.6  32.658563
310    16.1  18.886272
423    13.4  14.989193
183    32.5  30.865238
427    10.9  15.805210
437     8.7  10.177053
19     18.2  18.571648
332    19.4  23.328335
151    19.6  17.167930
379    10.2  16.982536
451    15.2  19.335640
365    27.5  14.006764
49     19.4  17.141498
308    22.8  28.541775
162    50.0  39.971384
135    18.1  17.677625
145    13.8  11.776746
93     25.0  29.731525
125    21.4  23.285574
202    42.3  36.812096
444    10.8  11.909996
429     9.5  14.386679
278    29.1  30.655959

[203 rows x 2 columns]